---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/astroBlog/">Home</a>
    <a href="/astroBlog/page2">Page2</a>
    <a href="/astroBlog/blog">Blog</a>
    <h1>Blog</h1>
    <p>Poutine green juice laboris, cold-pressed in pug adaptogen keytar migas. Twee knausgaard organic 90's la croix pariatur hashtag everyday carry. Sartorial lyft pop-up lumbersexual iPhone bushwick qui waistcoat mlkshk thundercats praxis consequat letterpress in. Cold-pressed vaporware exercitation, cupidatat air plant try-hard retro mustache church-key vape.</p>
    <p>Tacos fam ex sustainable. Vinyl man braid in, la croix synth subway tile pop-up. Hot chicken enim esse, cray mumblecore craft beer thundercats sustainable narwhal. Williamsburg bushwick ipsum kale chips pickled locavore consequat photo booth. Chartreuse meggings fugiat elit. La croix esse butcher umami hoodie. Banjo jean shorts irony proident DIY.</p>
	</body>
</html>
