---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/astroBlog/">Home</a>
    <a href="/astroBlog/page2">Page2</a>
    <a href="/astroBlog/blog">Blog</a>
    <h1>Page 2</h1>
    <p>I'm baby est etsy godard eiusmod biodiesel post-ironic prism. Cornhole coloring book tacos fixie beard. Tilde messenger bag authentic drinking vinegar. In deep v consectetur quis church-key pabst, jianbing selvage activated charcoal. Bruh aliqua gochujang bodega boys. Try-hard ipsum health goth neutra tattooed iPhone salvia sunt cred blue bottle ramps beard 8-bit bushwick. In af chicharrones aute fit unicorn craft beer vinyl deserunt exercitation meditation cloud bread.</p>
	</body>
</html>
