
---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <div class="nav-links">
    <Hamburger />
    <Navigation path="/" title="Home" />
    <Navigation path="/about" title="About" />
    <Navigation path="/blog" title="Blog" />
  </div>
</header>
